<form method="post" action="{{ path('administrateur_delete', {'id': administrateur.id}) }}" onsubmit="return confirm('Etes vous sûr de supprimer ce compte?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ administrateur.id) }}">
    <button class="btn">Supprimer</button>
</form>
