{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}
<table class="table">
        <tbody>
            <tr>
                <th scope="row">id</th>
                <td>{{Administrateur.id}}</td>
            </tr>
            <tr>
                <th scope="row">email</th>
                <td>{{Administrateur.email}}</td>
            </tr>   
            <tr>
                <th scope="row">password</th>
                <td>{{Administrateur.password}}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('Administrateur_index') }}" class="btn btn-primary">Retour</a>>
{% endblock %}
