<div class="container text-center bs-primary" >
    <div class="row">
    <div class="col">
    Un service de qualité et personnalisé pour chaque client
    </div>
    <div class="col">
    ©2023 Garage V.Parrot
    </div>
</div>
