{% extends 'base.html.twig' %}

{% block title %}Creer vehicule{% endblock %}

{% block body %}
    <h1>Creer vehicule</h1>   
    
    {{include('vehicule/_form.html.twig')}}

    <a href="{{path('vehicule_index')}}">Retour</a>

{% endblock %}