{% extends 'base.html.twig' %}

{% block title %}Suppression vehicule{% endblock %}

{% block body %}
    <h1>Suppression vehicule</h1>

    {{ include("/vehicule/_delete.html.twig" , {'button_label': 'Supprimer'})}}

    <a href="{{path('vehicule_index')}}">Retour</a>

{% endblock %}