{% extends 'base.html.twig' %}

{% block title %}Modification Fiche Vehicule{% endblock %}

{% block body %}
    <h1>Modification fiche vehicule</h1>

    {{ include("/vehicule/_form.html.twig" , {'button_label': 'Modifier'}) }}

    <a href="{{path('vehicule_index')}}">Retour</a>

{% endblock %}