{% extends 'base.html.twig' %}

{% block title %}Modifier le vehicule{% endblock %}

{% block body %}
    <h1>Modifier le vehicule</h1>

    {{include("/vehicule/_form.html.twig" , {'button_label': 'Modifier'})}}

    <a href="{{path('vehicule_index')}}">Retour</a>

{% endblock %}