{% extends 'base.html.twig' %}

{% block title %}Entrée services{% endblock %}

{% block body %}
    <h1>Entrée services</h1>

    {{ include('services/_form.html.twig') }}

    <a href="{{ path('services_index') }}">Retour</a>
{% endblock %}