{% extends 'base.html.twig' %}

{% block title %}Modification Services{% endblock %}

{% block body %}
    <h1>Modifier Services/h1>

    {{ include('services/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('services_index')}}">Retour</a>

    {{ include('services/_delete_form.html.twig') }}
{% endblock %}