{% extends 'base.html.twig' %}

{% block title %}Modification services{% endblock %}

{% block body %}
    <h1>Modifier services</h1>

    {{ include("/services/_form.html.twig" , {'button_label': 'Modifier'}) }}

    <a href="{{path('services_index')}}">Retour</a>

{% endblock %}