{% extends 'base.html.twig' %}

{% block title %}Nouveau vehicule{% endblock %}

{% block body %}
    <h1>Creer un nouveau vehicule</h1>

    {{ include('gestion_vehicule/_form.html.twig') }}

    <a href="{{ path('app_gestion_vehicule_index') }}">Retour</a>
{% endblock %}
