<form method="post" action="{{ path('horaires_delete', {'id': horaires.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer le fichier?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ horaires.id) }}">
    <button class="btn">Supprimer</button>
</form>