<form method="post" action="{{ path('temoignage_delete', {'id': temoignage.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer le fichier?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ temoignage.id) }}">
    <button class="btn">Supprimer</button>
</form>