{% extends 'base.html.twig' %}

{% block title %}Employe{% endblock %}

{% block body %}
    
    {% include "/employe/_form.html.twig" %}

    <a href="{{path('employe_index')}}" class="btn btn-primary">Retour</a>

{% endblock %