{% extends 'base.html.twig' %}

{% block title %}Employes{% endblock %}

{% block body %}
<table class="table">
        <tbody>
            <tr>
                <th scope="row">id</th>
                <td>{{employes.id}}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{employes.Email}}</td>
            </tr>   
            <tr>
                <th scope="row">Password</th>
                <td>{{employes.Password}}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('employes_index') }}" class="btn btn-primary">Retour</a>>
{% endblock %}
