<form method="post" action="{{ path('formulaire/v_delete', {'id': formulaireV.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer le fichier?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formulaireV.id) }}">
    <button class="btn">Supprimer</button>
</form>